################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudentAdminPortal.API/StudentAdminPortal.API/Models/UserAdminContext.cs
